.the-3th-color {
    background-color: #508C9B;
}

body {
    background-color: #201E43;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.the-2nd-color {
    background-color: #201E43;
}

.the-1st-color {
    background-color: #134B70;
}

.the-4th-colorr {
    background-color: #EEEEEE;
}

.the-4th-color {
    color: #EEEEEE;
}
.date{
    color:rgba(255, 255, 255, 0.5);
}
.cmt-btn{
    width: fit-content;
    font-size: 24px;
}
.img-user{
    cursor: pointer;
}
.user,
.rep-content{
    background-color: #242055;
}
.cmt-cmt-btn{
    width: fit-content;
    font-size: 15px;
    background-color: #2c2a60;
}
.text-hover:hover {
    color: #508C9B;
}
.username:hover{
text-decoration: underline;
cursor: pointer;
}

.box-shadow1{
    box-shadow: -1px 2px 0.5px rgb(37, 37, 37);
}
.thread-container{
    width: 100%;
}
.box{
    width: 100%;
}
.thread-box {
    background-color: #2c2a60 !important;
    border-radius: 10px;

}

.content{
  
   width: 100%;
}
.text1 {
    color: #EEEEEE;
}

.box-hover:hover {
    background-color: #508C9B;
    color: #EEEEEE;
}

.nav-hover:hover {
    background-color: #EEEEEE;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.show-hide-more-replies {
    margin-left: 20px;
    margin-bottom: 10px;
}
.nav-text {
    color: white;
    font-size: 18px;
}
.head{
    width: 100%;
}
.sidebar {
    top: 100px;
    height: 100vh;
}

.roboto {
    font-family: 'Roboto';
}

.poppins {
    font-family: 'Poppins';
}

/*Font Class*/
.font-primary {
    font-family: 'Barlow Condensed', sans-serif;
}

.font-secondary {
    font-family: 'Montserrat', sans-serif;
}

.anton {
    font-family: 'Anton';
    font-size: 13px;
}

.font-size1 {
    font-size: 13px;
}

.font-size2 {
    font-size: 30px;
  }
  /* ---------------------- */
  #errorMessage{
    z-index: 10;
  }
  .sidenav .nav-link {
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.sidenav .nav-link::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #ffffff;
    left: 0;
    bottom: 13px;
    transition: 0.3s;
}

.sidenav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

.sidenav .nav-link:hover::after,
.sidenav .nav-link[aria-expanded=true],
.sidenav .active .nav-link {
    width: 15px;
    color: rgba(255, 255, 255, 0.5) !important;
}

.footer-text {
    color: rgba(255, 255, 255, 0.5)
}

.footer-text:hover {
    text-decoration: underline !important;
}

.text-primary-onHover:hover {
    color: gray !important;
}


/* --------latest--------- */
.reply-form {
    display: none;
    margin-top: 10px;
}
.reply-to-reply {
    margin-left: 40px;
}

/* ----------------------------------pagination--------------------------------------- */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination form {
    margin: 0 5px;
}

.pagination button {
    padding: 5px 10px;
}

.btn:hover {
    color: #508C9B;
    background-color: #EEEEEE;
}
.btn-secondary{
    box-shadow: none!important;
    
}

.title {
    text-decoration: none;
    color: #508C9B
}

.title:hover {
    text-decoration: underline;
}
.btn-post {
    background-color: #2c2a60;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
}

.btn-contact.active {
    color: rgba(255, 255, 255, 0.5) !important;
}

.btn-dropdown1:active,
.btn-dropdown1:checked {
    background-color: #2c2a60;
}

.nav-link:focus {
    color: #EEEEEE;
}

.btn-custom {
    background-color: #201E43;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-current {
    background-color: #201E43;
    color: #508C9B !important;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination1,
.pagination2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagination2 {
    justify-content: flex-end;
}

.input-page {
    width: 60px;
}

#file-upload-button {
    display: none;
}

.form-page {
    display: flex;
    flex-direction: row;
}

.search-query {
    color: #508C9B;
}

#media {
    display: none;
}

.label-photo {
    width: fit-content;
}

.label-photo:hover {
    animation: scaleUp1 0.3s forwards;
}

.dropdown-menu {
    box-shadow: 2px 2px 2px black;
}

.dropdown-item,
.dropdown-menu {
    background-color: #201E43;
    color: #EEEEEE;
}

.dropdown-item:hover {
    background-color: #EEEEEE;
    color: #508C9B;
    animation: scaleUp 0.3s forwards;
}

.btn-dropdown {
    height: 40px;
}

.btn:active,
.btn.show {
    color: #EEEEEE;
}




/* FOOTER ANIMATION */
.container {
    position: relative;
    width: 500px;
    height: 150px;
}

.rotating-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

.rotating-text span {
    position: absolute;
    font-size: 2rem;
    transform-origin: center;

}

.word1 {
    transform: rotateY(0deg) translateZ(100px);
}

.word2 {
    transform: rotateY(60deg) translateZ(100px);
}

.word3 {
    transform: rotateY(120deg) translateZ(100px);
}

.word4 {
    transform: rotateY(180deg) translateZ(100px);
}

.word5 {
    transform: rotateY(240deg) translateZ(100px);
}

.word6 {
    transform: rotateY(300deg) translateZ(100px);
}

/* <--------------------- keyframes ---------------------> */
@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}

@keyframes scaleUp1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

