#cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover img {
    border-radius: 8px;
    width: 80%;
}

#profile {
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    /* background-color: beige; */
    padding: 20px 150px;
    border-bottom: 1px solid gray;
}

#profile img {
    border-radius: 50%;
    width: 180px;
    border: 4px solid white;
}

#left {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#info {
    margin-top: 50px;
}

#info p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#right {
    padding: 0 150px;
    margin: 50px 100px;
}

#right button:nth-child(1) {
    background: blue;
    color: white;
}