<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My food</title>
</head>
<body>
    <h1>My favorite food</h1>

    <p>Using only Express and EJS. No data from MongoDB yet</p>

    <ul>
        <% foodList.forEach(food => { %>
            <li>
                <div>
                    <%= food.name %>: $<%= food.price %>
                </div>
                <div>
                    <img src="<%= food.image %>" alt="" width="300">
                </div>
            </li>
        <% }) %>
    </ul>
</body>
</html>