p {
    color: red;
}

em {
    /* color: blue; */
}

/* CSS: cascading (waterfall) style sheet
cascading:  */

button {
    background: green;
}

/* state */
/* pseudo-class selector (1 dấu hai chấm) */
button:disabled {
    background: gray;
    cursor: not-allowed;
}

#login-btn:active {
    background: purple;
}

#login-btn:hover {
    font-size: 20px;
    cursor: pointer;
}

/* even | odd | n */
ul li:nth-child(4) {
    background: yellowgreen;
}

ul li:last-child {
    color: red;
}
