#tin {
    border: 1px solid red;
    padding: 20px; /* khoảng cách từ content đến border */
    margin-right: 30px;
}

#hoang {
    border: 1px solid blue;
    margin-left: 30px;
    /* text-align: right; */
}

#y {
    text-align: center;
    background-color: yellow;
    padding: 10px;
    margin-top: 30px;
}

#car {
    width: 100%; /* relative units vs absolute units */
    
}

