body {
    font-family: "system-ui", system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
    font-size: 400;
}

#nav-bar {
    display: flex;
    justify-content: space-between;

}

#nav-bar div {
    /* border: 1px solid red; */
}

#nav-bar #left {
    display: flex;    
    flex-direction: row;
    align-items: center;
    gap: 8px;

    input {
        padding: 10px 30px;     
        border-radius: 20px;
        border: none;
        background-color: #F0F2F5;
        font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
        color: rgb(8, 8 ,9);
    }

    #fb {
        width: 30px;
        height: 30px;
    }
    
    #search-icon {
        position: absolute;   
        width: 25px;
        top: 10px;
        left: 5px;
        color: #70747b;
    }

    #form-container {
        position: relative;
    }

    input:hover {
        background-color: #dde0e5;
    }

    input:focus {
        outline: 1px solid pink;
    }

}