<!DOCTYPE html>
<html lang="en">

<!-- include head partial here -->
<%- include('partials/head') %>

<body>
  <div>

    <!-- header -->
    <%- include('partials/header') %>

    <!-- Main content -->
    <main>
      <!-- Your profile here -->
      <aside id="profile">
        <div>
          <img src="images/profile.jpg" height="250" alt="PROFILE PICTUREEEEE">
        </div>
        <div>
          <div>
            <span>Hi, I'm</span>
            <h1>Brian</h1>
          </div>
          <div>
            <h2>s3697305</h2>
            <h2>hoangdesu@gmail.com</h2>
          </div>
        </div>
      </aside>

      <!-- Your meal plan here -->
      <section id="meal-plan">
        <h1>My <b>DAILY MEAL PLAN</b></h1>

        <!-- Your meal list here -->
        <div id="meal-list">
          <div>
            <a href="/meal/#">
              <img src="https://picsum.photos/id/63/200/300" height="300">
              <section>
                <h3>
                  Meal Name
                </h3>
                <span>
                  Time of Day - Meal Type
                </span>
              </section>
            </a>
          </div>
          <div>
            <a href="/meal/#">
              <img src="https://picsum.photos/id/63/200/300" height="150">
              <section>
                <h3>
                  Meal Name
                </h3>
                <span>
                  Time of Day - Meal Type
                </span>
              </section>
            </a>
          </div>
          <div>
            <a href="/meal/#">
              <img src="https://picsum.photos/id/63/200/300" height="150" alt="Meal image">
              <section>
                <h3>
                  Meal Name
                </h3>
                <span>
                  Time of Day - Meal Type
                </span>
              </section>
            </a>
          </div>
        </div>
      </section>
    </main>
  </div>

  <%- include('partials/foot') %>

</body>

</html>