<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect"
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css"
        integrity="sha512-8BU3emz11z9iF75b10oPjjpamM4Mz23yQFQymbtwyPN3mNWHxpgeqyrYnkIUP6A8KyAj5k2p3MiYLtYqew7gIw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" type="image/png">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>  
    <header class="page-header">

    </header>


    <div id="main-container" class="container-fluid mt-4">
        <div class="text-center">
            <img src="/images/phoenix.png" class="rounded-circle p-3" alt="logo" width="200px">
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="text-center mt-4 mb-4">Privacy Policy</h1>
                <p><strong>Effective Date: 9/9/2024</strong></p>

                <div class="section mb-4">
                    <h2>1. Information Collection & Use</h2>
                    <p>1.1. <strong>Personal Information</strong><br>
                        We may collect personal information such as your name and email address when you sign up or
                        engage in site activities.</p>
                    <p>1.2. <strong>Non-Personal Information</strong><br>
                        We also collect non-personal data such as IP addresses and browsing behavior to improve our
                        services.</p>
                    <p>1.3. <strong>Data Sharing</strong><br>
                        We do not sell your information. We may share it with third parties to operate our site or
                        comply with legal obligations.</p>
                </div>

                <div class="section mb-4">
                    <h2>2. Cookies</h2>
                    <p>2.1. <strong>Use of Cookies</strong><br>
                        Our website uses cookies to enhance user experience.</p>
                    <p>2.2. <strong>Control of Cookies</strong><br>
                        You can control cookies through your browser settings. Disabling cookies may affect the
                        functionality of the site.</p>
                </div>

                <div class="section mb-4">
                    <h2>3. User Rights</h2>
                    <p>3.1. <strong>Access and Correction</strong><br>
                        You have the right to access and correct your personal information held by us.</p>
                    <p>3.2. <strong>Data Retention</strong><br>
                        We retain your information for as long as necessary to provide our services or as required by
                        law.</p>
                    <p>3.3. <strong>Data Security</strong><br>
                        We implement security measures to protect your information from unauthorized access, alteration,
                        or disclosure.</p>
                </div>

                <div class="section mb-4">
                    <h2>4. Children's Privacy</h2>
                    <p>Our website is not intended for children under 13. We do not knowingly collect personal
                        information from children under 13.</p>
                </div>

                <div class="section mb-4">
                    <h2>5. Third-Party Links</h2>
                    <p>Our site may contain links to third-party websites. We are not responsible for the privacy
                        practices or content of these sites.</p>
                </div>

                <div class="section mb-4">
                    <h2>6. Changes to this Policy</h2>
                    <p>We may update this Privacy Policy from time to time. Your continued use of our website following
                        any changes indicates your acceptance of the new policy.</p>
                </div>

                <div class="section mb-4">
                    <h2>7. Contact Information</h2>
                    <p>For any questions or concerns about this Privacy Policy, please contact us at: <a
                            href="Skygaming.fansite@gmail.com">Skygaming.fansite@gmail.com</a>.</p>
                </div>

            </div>
            <div class="col-12 p-0">

                <footer class="the-1st-color text-white d-flex flex-column justify-content-center">
                    <h5 class="font-primary text-white mb-4 mt-3 d-flex justify-content-center ">

                        <div class="container">
                            <div class="rotating-text">
                                <span class="word1"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word2"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word3"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word4"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word5"><img src="/images/logo.png" alt="logo" height="70px"></span>
                                <span class="word6"><img src="/images/logo.png" alt="logo" height="70px"></span>
                            </div>
                        </div>
                    </h5>
                    <ul class="list-unstyled d-flex justify-content-center flex-row">
                        <li class="m-3"><a class="text-decoration-none footer-text" href="/terms-of-use">Terms of
                                use</a></li>
                        <li class="m-3"><a class="text-decoration-none footer-text" href="/privacy-policy">Privacy
                                policy</a>
                        </li>
                        <li class="m-3"><a class="text-decoration-none footer-text" href="/aboutus">About us</a></li>

                    </ul>


                    <div class="bottom d-flex flex-lg-row flex-column justify-content-lg-between justify-content-center
                                    align-items-center">
                        <p class="anton">&copy; 2024 Sky Gaming. All rights reserved.</p>

                        <ul class="list-inline nml-2">
                            <li class="list-inline-item">
                                <a href="https://x.com/s_skygaming" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/profile.php?id=61565599724149" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!" class="text-white text-primary-onHover p-2">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="mailto:Skygaming.fansite@gmail.com" class="text-white text-primary-onHover p-2">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>


                </footer>
            </div>

        </div>
    </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/68148c68bd.js" crossorigin="anonymous"></script>
</body>

</html>